/* Base 스타일 작성 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  width: 100%;
}

#wrap {
  width: 1020px;
  margin: 100px auto;
}

main {
  display: flex;
  width: 1020px;
  padding-top: 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
}

header {
  margin-bottom: 20px;
}
