/* CSS 작성 */

/* TodayDiscoveryHeadline */
#TodayDiscoveryHeadline {
  width: 100%;
  display: flex;
  align-items: center;
  color: #aaa9a9;
  gap: 6px;
  h2 {
    color: black;
  }
}

/* product cards */
.product-box {
  width: 100%;
  display: flex;
  gap: 16px;
}

.two-colum-card {
  width: 502px;
  height: 310px;
  border: 1px solid #c4c4c4;
  position: relative;
  &:hover {
    border: 1px solid #0074e9;
  }
  & > a > img {
    width: 100%;
    height: 100%;
    /* margin-top: 10px;
    margin-left: 20px; */
  }
}

.four-colum-card {
  width: 243px;
  height: 310px;
  border: 1px solid #c4c4c4;
  position: relative;
  & > a > img {
    width: 100%;
    height: 100%;
    /* margin-top: 10px;
    margin-left: 20px; */
  }
  &:hover {
    border: 1px solid #0074e9;
  }
}

/* button */
.buy-box {
  display: flex;
  align-items: center;
  width: 42px;
  height: 42px;
  background: rgba(196, 196, 196, 0.6);
  position: absolute;
  bottom: 20px;
  left: 20px;
  &:hover {
    width: 112px;
    cursor: pointer;
    background: #0074e9;
    color: #fff;
    &::before {
      padding-left: 10px;
      content: "구매하기";
      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
    }
  }
}
